<div class="center jumbotron">
  <h1>Insert your link below</h1>


<%= form_tag("/search", method: "get") do %>
  <!--<%= label_tag(:q, "Search for:") %>-->
  <%= text_field_tag(:q) %>
  <%= submit_tag("Shorten Me") %>
<% end %>
